.Sales {
  margin: 16px 0px 32px 32px;
}

.Sales table {
  text-align: left;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 3px solid #ddd;
  margin: 16px 0px 32px 32px;
  width: 90%;
}

.Sales td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

.Sales th {
  background-color: #333399;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
}
