.Button {
  background-color: #333399;
  color: white;
  width: 208px;
  cursor: pointer;
  font: inherit;
  font-weight: bold;
  font-size: 16px;
  border: none;
  padding: 16px;
  margin: 8px;
  border-radius: 8px;
}

.Button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

@media (max-width: 499px) {
  .Button {
    width: auto;
  }
}
